[submodule "sdk/imgui"]
	path = sdk/imgui
	url = https://github.com/ocornut/imgui
[submodule "sdk/libjpeg-turbo"]
	path = sdk/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo
[submodule "sdk/libpng"]
	path = sdk/libpng
	url = https://github.com/pnggroup/libpng
[submodule "sdk/zlib"]
	path = sdk/zlib
	url = https://github.com/madler/zlib
[submodule "mstd-lib"]
	path = mstd-lib
	url = https://github.com/MeganGrass/mstd-lib
[submodule "sony-lib"]
	path = sony-lib
	url = https://github.com/MeganGrass/sony-lib
[submodule "bio-lib"]
	path = bio-lib
	url = https://github.com/MeganGrass/bio-lib
